* {
    font-family: "Courier New";
}

body {
    background-color: whitesmoke;
}

.scrollText { 
    position: absolute; 
    top: -35px; 
    left: 138px; 
    width: 85%;
    font-size: 48px;
}

#dialogueBox {
    position:absolute;
    bottom:0;
    height:150px;
}